/**
 * jqPropertyGrid
 * https://github.com/ValYouW/jqPropertyGrid
 * Author: YuvalW (ValYouW)
 * License: MIT
 */


.pgTable {
    border-spacing: 0;
}


.pgGroupRow {
    background-color: #E0ECFF;
    font-weight: bold;
}

.pgGroupCell {
    padding: 5px;
}

.pgRow{
}

.pgCell {
    /*border: dotted 1px #ccc;*/
    padding: 5px;
}

.pgTextLarge{
    width: 450px;
}

.pgTextArea{
    width: 450px;
    height: 100px;
}

.pgTooltip {
    margin-left: 5px;
}

.pgModified {
    background-color: #faf0d1 !important;
}

.noValidCharacter {
    border-color: #FF0000 !important;
    border-width: medium !important;;
}